<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head">
    <meta charset="UTF-8">
    <!--    让移动端更好阅览   不缩放-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Title</title>

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <!--引入markdown 插件-->
    <link rel="stylesheet" href="../../static/lib/editor/css/editormd.min.css" th:href="@{/lib/editor/css/editormd.min.css}">

</head>
<body>
<!--导航-->
<!-- 使用semantic 的css 需要以ui打头   -->
<nav  th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">BCMJ</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class=" idea icon"></i>分类</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
            <div class="right  menu">
                <div class="ui dropdown m-item m-mobile-hide item">
                    <div class="text">
                        <img class="ui avatar image" src="../../static/img/mmqrcode1591716255038.png" style="width: 50px">
                        陈明锦
                    </div>
                    <i class="dropdown icon"></i>
                    <div class=" menu">
                        <a href="#" class="ui item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class=" sidebar icon "></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/cmj/blogs/input}"class="ui active item">新增</a>
            <a href="#" th:href="@{/cmj/blogs}" class="ui  teal item">列表</a>
        </div>
    </div>
</div>
<!--中间内容-->
<div class="m-container  m-padded-tb-large ">
    <div class="ui container">

        <form action="#" method="post" th:action="@{/cmj/blogs}" class="ui form">
            <input type="hidden" name="published" th:value="${blog==null}?'':${blog.published}">
            <input type="hidden" name="id" th:value="${blog}==null ?'': ${blog.id}">
            <div class="ui required field">
                <div class="ui left labeled input">
                    <div class="ui selection  teal basic dropdown label">
                        <input type="hidden" value="原创" name="flag" th:value="${blog}==null ?'': ${blog.flag}">
                        <i class="ui dropdown icon"></i>
                        <div class="ui text">原创</div>
                        <div class=" menu">
                            <div class=" item" data-value="原创">原创</div>
                            <div class=" item" data-value="转载">转载</div>
                            <div class=" item" data-value="翻译">翻译</div>
                        </div>
                    </div>
                    <input type="text" class="ui input" name="title" placeholder="请输入输入..." th:value="${blog}==null ?'': ${blog.title}">
                </div>
            </div>
            <div class="ui required field ">
                <div id="md-content" style="z-index: 1 !important;">
                    <textarea name="content" th:text="${blog}==null ?'': ${blog.content}"  placeholder="内容..." style="display: none">
                        前端显示测试mackdown 文档使用
                    </textarea>
                </div>
            </div>
            <div class="required field">
                <div id="md-description" style="z-index: 1 !important;">
                    <textarea name="description" th:text="${blog}==null ?'': ${blog.description}" placeholder="博客描述..." maxlength="300"></textarea>
                </div>
            </div>
            <div class="ui two fields">
                <div class="ui required field">
                    <div class="ui labeled action input">
                        <label  class="ui  compact teal basic label">分类</label>
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="type.id" th:value="${blog}==null ?'': ${blog.type.id}">
                            <i class="ui dropdown icon"></i>
                            <div class="ui text">分类</div>
                            <div class="menu">

                                <div class=" item" data-value="方案一" th:each="type : ${types}" th:data-value="${type.id}"
                                    th:text="${type.name}">方案一</div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui required field">
                    <div class="ui  labeled action input">
                        <label  class="ui  compact teal basic label">分类</label>
                        <div class="ui fluid multiple search selection dropdown">
                            <input type="hidden" name="tagIds" th:value="${blog}==null ?'': ${blog.tagIds}">
                            <i class="ui dropdown icon"></i>
                            <div class="ui text">分类</div>
                            <div class="menu">
                                <div class=" item" th:each="tag : ${tags}" th:data-value="${tag.id}" data-value="1"
                                     th:text="${tag.name}">方案一</div>
<!--                                <div class=" item" data-value="2">转载</div>-->
<!--                                <div class=" item" data-value="3">就这?</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui  required field">
                <div class="ui left labeled input">
                    <label  class="ui teal basic label">首图</label>
                    <input type="text" name="firstPicture" th:value="${blog}==null ?'': ${blog.firstPicture}" placeholder="首图引用地址">

                </div>
            </div>
            <div class="ui inline fields">
                <div class="ui field">
                    <div class="ui checkbox" >
                        <input type="checkbox" id="recommend" name="recommend" th:checked="${blog}==null ?'': ${blog.recommend}" class="hidden">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="ui field">
                    <div class="ui checkbox" >
                        <input type="checkbox" id="shareInfo" name="shareStatement" th:checked="${blog}==null ?'': ${blog.shareStatement}" class="hidden">
                        <label for="shareInfo">转载声明</label>
                    </div>
                </div>
                <div class="ui field">
                    <div class="ui checkbox" >
                        <input type="checkbox" id="appreciation" name="appreciation" th:checked="${blog}==null ?'': ${blog.appreciation}"
                               class="hidden">
                        <label for="appreciation">打赏</label>
                    </div>
                </div>
                <div class="ui field">
                    <div class="ui checkbox" >
                        <input type="checkbox" id="comment" name="commentabled" th:checked="${blog}==null ?'': ${blog.commentabled}" class="hidden">
                        <label for="comment">评论</label>
                    </div>
                </div>
            </div>
            <div class="ui error message">

            </div>
            <div class="ui right aligned container">
                <button class="ui button" type="button" onclick="window.history.go(-1)">返回</button>
                <button class="ui secondary button" id="save-btn">保存</button>
                <button class="ui teal button" id="publish-btn">发布</button>
            </div>
        </form>

    </div>
</div>
<!--底部-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted  divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/img/mmqrcode1591716255038.png" alt="" class="ui rounded image " style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(User)</a>
                    <a href="#" class="item">用户故事(User)</a>
                    <a href="#" class="item">用户故事(User)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(User)</a>
                    <a href="#" class="item">用户故事(User)</a>
                    <a href="#" class="item">用户故事(User)</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <p>
                    上海互联网举报中心 | 12318全国文化市场举报网站 | 沪公网安备31011002002436号 | 儿童色情信息举报专区

                    网上有害信息举报专区：中国互联网违法和不良信息举报中心

                    亲爱的市民朋友，上海警方反诈劝阻电话“962110”系专门针对避免您财产被骗受损而设，请您一旦收到来电，立即接听。

                    公司名称：上海宽娱数码科技有限公司|公司地址：上海市杨浦区政立路485号|电话：021-25099888

                </p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-lined m-text-spaced m-text-thin m-opacity-tiny">广播电视节目制作经营许可证：（沪）字第01248号 增值电信业务经营许可证 沪B2-20100043 互联网ICP备案：沪ICP备13002172号-3</p>
    </div>

</footer>

<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editor/editormd.min.js}"></script>
</th:block>
<script >
        /*初始化markdown 编辑器*/
    var contentEditor;
    $(function() {
        contentEditor = editormd("md-content", {
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
            path    : "/lib/editor/lib/"
        });
    });
    $('.ui.dropdown').dropdown({
        on :"hover"
    });
    ;
    $('.menu.toggle').click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $(".wechat").popup({
        popup : $(".wechat-qr"),

        position: "bottom center"
    });
    $(".qq").popup();

    $(".ui.form").form({
       fields : {
           title : {
               identifier : "",
               rules : [{
                   type : 'empty',
                   prompt : "标题:请输入博客标题"
               }]

           }
       }
    });
        $('#save-btn').click(function () {     //点击保存，修改发布状态为false
            $('[name="published"]').val(false);
            $('#blog-form').submit();
        });


        $('#publish-btn').click(function () {   //点击发布，修改发布状态为true
            $('[name="published"]').val(true);
            $('#blog-form').submit();
        });

        $('.ui.form').form({    //表单元素非空验证
            fields : {
                title : {
                    identifier: 'title',
                    rules: [{
                        type : 'empty',
                        prompt: '标题：请输入博客标题'
                    }]
                },
                content : {
                    identifier: 'content',
                    rules: [{
                        type : 'empty',
                        prompt: '标题：请输入博客内容'
                    }]
                },
                typeId : {
                    identifier: 'type.id',
                    rules: [{
                        type : 'empty',
                        prompt: '标题：请输入博客分类'
                    }]
                },
                firstPicture : {
                    identifier: 'firstPicture',
                    rules: [{
                        type : 'empty',
                        prompt: '标题：请输入博客首图'
                    }]
                },
                description : {
                    identifier: 'description',
                    rules: [{
                        type : 'empty',
                        prompt: '标题：请输入博客描述'
                    }]
                }
            }
        });


</script>
</body>
</html>