<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head">
    <meta charset="UTF-8">
    <!--    让移动端更好阅览   不缩放-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Title</title>

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <!--引入markdown 插件-->
    <link rel="stylesheet" href="../../static/lib/editor/css/editormd.min.css" th:href="@{/lib/editor/css/editormd.min.css}">

</head>
<body>
<!--导航-->
<!-- 使用semantic 的css 需要以ui打头   -->
<nav  th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">BCMJ</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class=" idea icon"></i>分类</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
            <div class="right  menu">
                <div class="ui dropdown m-item m-mobile-hide item">
                    <div class="text">
                        <img class="ui avatar image" src="../../static/img/mmqrcode1591716255038.png" style="width: 50px">
                        陈明锦
                    </div>
                    <i class="dropdown icon"></i>
                    <div class=" menu">
                        <a href="#" class="ui item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class=" sidebar icon "></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/cmj/tags/input}" class="ui active item">新增</a>
            <a href="#" th:href="@{/cmj/tags}"  class="ui  teal item">列表</a>
        </div>
    </div>
</div>
<!--中间内容-->
<div class="m-container  m-padded-tb-large ">
    <div class="ui container">
        <div class="ui error message" th:unless="${#strings.isEmpty(msg)}">
            <i class="close icon"></i>
            <div class="header">提示:</div>
            <p th:text="${msg}">操作成功</p>
        </div>
        <form action="#" method="post"  class="ui form"
              th:action="${tag}==null? @{/cmj/tags/add} : @{/cmj/tags/update/{id}(id=${tag.id})} ">
            <div class="ui field required">
<!--                th:action="${type}==null? @{/cmj/add} : @{/cmj/types/{id}(id=${type.id})} "-->
                    <!--"*{id}==null ? @{/admin/types} : @{/admin/types/{id}(id=*{id})}"-->
                <div class="ui left labeled input">
                    <label  class="ui teal basic label">首图</label>
                    <input type="text" name="name" placeholder="分类名称"
                           th:value="${tag} == null ? '' : ${tag.name}">
                </div>
                <div class="ui error message"></div> <!--显示错误信息-->
            </div>

            <div class="ui right aligned container">
                <button class="ui button" type="button" onclick="window.history.go(-1)">返回</button>
                <button class="ui teal submit button">添加</button>
            </div>
        </form>


    </div>
</div>
<!--底部-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted  divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/img/mmqrcode1591716255038.png" alt="" class="ui rounded image " style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(User)</a>
                    <a href="#" class="item">用户故事(User)</a>
                    <a href="#" class="item">用户故事(User)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(User)</a>
                    <a href="#" class="item">用户故事(User)</a>
                    <a href="#" class="item">用户故事(User)</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <p>
                    上海互联网举报中心 | 12318全国文化市场举报网站 | 沪公网安备31011002002436号 | 儿童色情信息举报专区

                    网上有害信息举报专区：中国互联网违法和不良信息举报中心

                    亲爱的市民朋友，上海警方反诈劝阻电话“962110”系专门针对避免您财产被骗受损而设，请您一旦收到来电，立即接听。

                    公司名称：上海宽娱数码科技有限公司|公司地址：上海市杨浦区政立路485号|电话：021-25099888

                </p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-lined m-text-spaced m-text-thin m-opacity-tiny">广播电视节目制作经营许可证：（沪）字第01248号 增值电信业务经营许可证 沪B2-20100043 互联网ICP备案：沪ICP备13002172号-3</p>
    </div>

</footer>

<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
</th:block>
<script >
    var contentEditor;

    $(function() {
        contentEditor = editormd("md-content", {
            width   : "90%",
            height  : 640,
            syncScrolling : "single",
            path    : "/lib/editor/lib/"
        });
    });
    $(".ui.form").form({
        fields : {
            input : {
                identifier : "name",
                rules : [{
                    type : 'empty',
                    prompt : "请输入类型"
                }]

            }
        }
    });
    $('.ui.dropdown').dropdown({
        on :"hover"
    });
    ;
    $('.menu.toggle').click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $(".wechat").popup({
        popup : $(".wechat-qr"),

        position: "bottom center"
    });
    $(".qq").popup();
    $(".message .close").
    on('click',function(){
            $(this).closest(".message").transition('fade');
        }
    )



</script>
</body>
</html>